/* KHW UPDATE */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/*
font-family: 'Open Sans',sans-serif;
*/

@font-face {
  font-family: 'sans100';
  src        : url('../fonts/museosans-100-webfont.woff2') format('woff2'),
    url('../fonts/museosans-100-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: 'sans300';
  src        : url('../fonts/museosans-300-webfont.woff2') format('woff2'),
    url('../fonts/museosans-300-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: 'sans500';
  src        : url('../fonts/museosans-500-webfont.woff2') format('woff2'),
    url('../fonts/museosans-500-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: 'sans700';
  src        : url('../fonts/museosans-700-webfont.woff2') format('woff2'),
    url('../fonts/museosans-700-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: 'slab300';
  src        : url('../fonts/museoslab-300-webfont.woff2') format('woff2'),
    url('../fonts/museoslab-300-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: 'slab700';
  src        : url('../fonts/museoslab-700-webfont.woff2') format('woff2'),
    url('../fonts/museoslab-700-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: "myriadPro-reg";
  src        : url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
    url('../fonts/MyriadPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}


@font-face {
  font-family: 'md-cn';
  src        : url('../fonts/helveticaNeueLTStd-MdCn.eot');
  src        : url('../fonts/helveticaNeueLTStd-MdCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaNeueLTStd-MdCn.svg#helveticaNeueLTStd-MdCn') format('svg'),
    url('../fonts/helveticaNeueLTStd-MdCn.ttf') format('truetype'),
    url('../fonts/helveticaNeueLTStd-MdCn.woff') format('woff'),
    url('../fonts/helveticaNeueLTStd-MdCn.woff2') format('woff2');
  font-weight: normal;
  font-style : normal;
}


@font-face {
  font-family: 'light';
  src        : url('../fonts/HelveticaNeueLTStd-LtCn.eot');
  src        : url('../fonts/HelveticaNeueLTStd-LtCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueLTStd-LtCn.woff2') format('woff2'),
    url('../fonts/HelveticaNeueLTStd-LtCn.woff') format('woff'),
    url('../fonts/HelveticaNeueLTStd-LtCn.ttf') format('truetype'),
    url('../fonts/HelveticaNeueLTStd-LtCn.svg#HelveticaNeueLTStd-LtCn') format('svg');
  font-weight: 300;
  font-style : normal;
}

@font-face {
  font-family: 'bold';
  src        : url('../fonts/HelveticaNeueLTStd-BdCn.eot');
  src        : url('../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueLTStd-BdCn.woff2') format('woff2'),
    url('../fonts/HelveticaNeueLTStd-BdCn.woff') format('woff'),
    url('../fonts/HelveticaNeueLTStd-BdCn.ttf') format('truetype'),
    url('../fonts/HelveticaNeueLTStd-BdCn.svg#HelveticaNeueLTStd-BdCn') format('svg');
  font-weight: bold;
  font-style : normal;
}

@font-face {
  font-family: 'light-con';
  src        : url('../fonts/HelveticaLTStd-LightCond.eot');
  src        : url('../fonts/HelveticaLTStd-LightCond.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaLTStd-LightCond.woff2') format('woff2'),
    url('../fonts/HelveticaLTStd-LightCond.woff') format('woff'),
    url('../fonts/HelveticaLTStd-LightCond.ttf') format('truetype'),
    url('../fonts/HelveticaLTStd-LightCond.svg#HelveticaLTStd-LightCond') format('svg');
  font-weight: 300;
  font-style : normal;
}



/*
font-family: 'Open Sans',sans-serif;
font-family: 'sans100';
font-family: 'sans300';
font-family: 'sans500';
font-family: 'sans700';
font-family: 'slab300';
font-family: 'slab700';
font-family: 'myriadPro-reg';
*/


html,
body {
  width     : 100%;
  overflow-x: hidden;
}

:root {
  --clr  : #035084;
  --clr-d: #19618f;
}

body {
  font-size  : 18px;
  color      : #222;
 font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin     : 0;
  padding    : 0;
}

a {
  transition        : all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition   : all 0.2s ease-in-out;
  -o-transition     : all 0.2s ease-in-out;
  -ms-transition    : all 0.2s ease-in-out;
  text-decoration   : none;
}

a:hover {
  text-decoration: none;
  /*color          : red;*/
}

ul {
  /*list-style: none;*/
  margin    : 0;
  padding   : 0;
}

input [type=submit],
button {
  outline: none !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.clear {
  clear: both;
}

.mainContainer {
  position: relative;
}

.containerBig {
  width        : 1630px;
  padding-right: 15px;
  padding-left : 15px;
  margin-right : auto;
  margin-left  : auto;
}


.container {
  max-width: 1000px;
  overflow : hidden;
  position : relative;
  max-width:1140px;
}

/*
body {
  opacity: 0;
} */


.side-space {
  /*   margin  : 15px; */
  position: relative;
}

.mr-left {
  margin-left: 2.2em;
}

.pd-left {
  padding-left: 50px;
}

.mr-top1 {
  margin-top: 40px;
}

.mr-top2 {
 /* margin-top: 70px;*/
}

.bg-c{
  background-color: #085cbc;
}
.frame {
  border-left : 1px #eaeaea solid;
  border-right: 1px #eaeaea solid;
  max-width   : 1040px;
  margin      : 0 auto;
  position    : relative;
}

.frame .container {
  padding-left : 0;
  padding-right: 0;
}

/* ============================================
 HEADER
 =============================================*/
header {}

.bgContainer {
  /*background     : rgb(35, 64, 143);
  background     : -moz-linear-gradient(60deg, rgba(35, 64, 143, 1) 0%, rgba(0, 181, 236, 1) 100%);
  background     : -webkit-linear-gradient(60deg, rgba(35, 64, 143, 1) 0%, rgba(0, 181, 236, 1) 100%);
  background     : linear-gradient(60deg, rgba(35, 64, 143, 1) 0%, rgba(0, 181, 236, 1) 100%);*/
  /*padding        : 20px 30px;*/
  margin         : 0 0px;
  position       : relative;
  display        : flex;
  justify-content: space-between;
 /* align-items    : center;*/
 background-color:#085cbc;
}

.bgfoo-Container {
  background: #0071ce;

  padding : 20px 30px;
  margin  : 0 0px;
  position: relative;
}

.logo {
  display       : inline-block;
  vertical-align: middle;
  padding-right : 20px;
  max-width     : 350px;
  padding-left  : 20px;
  flex-shrink   : 0;
      display: block;
}

.logo img,
.support img {
  width: 137%;
}

.indication {
  padding       : 7px;
  font-family   : 'Roboto', sans-serif;
  color         : #fff;
  font-size     : 18px;
  line-height   : 1.2;
  vertical-align: middle;
  /*max-width     : 525px;*/ /* KHW UPDATE */
  float         : right;
  line-height   : 1.4; /* KHW UPDATE */
  margin-left   : 45px; /* KHW UPDATE */
  font-weight   : 400;
}

.indication h6 {
  font-size  : 19px;
  font-family: 'Roboto', sans-serif; /* KHW UPDATE */
  font-weight: 700;  /* KHW UPDATE */
}

.logo img,
.support img {
  width: 120%;
  margin-top: -13px;
}

/* ============================================
 HEADER OVER
 =============================================*/

/* ============================================
 Footer
 =============================================*/
footer {
  /*  padding   : 35px 30px 25px;
  background    : #0072CE; */
}

.yupelri-logo {
  max-width: 165px;
  margin   : 0 auto 15px;
}

.yupelri-logo img {
  width: 100%;
}

/* KHW UPDATE */
.logo123 img {
  max-width: 100%;
  height: auto;
  margin-left: -5px;
}

.copyright {
  color      : #fff;
  font-family: 'Open Sans', sans-serif;
  font-size  : 16px
}

.ques-contact {
  color: #fff;
  font-family: 'Open Sans',
    sans-serif;
  font-size: 16px;
  position : absolute;
  right    : 18px;
  bottom   : 22px;
}

.ques-contact a {
  color          : #fff;
  text-decoration: underline;
  transition     : all 0.3s ease
}

.ques-contact a:hover {
  color          : #fff;
  text-decoration: none;
}


/* ============================================
Footer Over
============================================= */

/* ============================================
Main Container
============================================= */
/* Top link */

.top-link {
  font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /*margin-top: 30px;*/
    /*margin-bottom: 10px;*/
    
    /* KHW UPDATE */
    margin-left: 83px;
    font-size: 25px; /* KHW UPDATE */
    text-align: inherit;
}

.top-link li {
  /*list-style  : none;
  display     : inline-block;
  padding     : 0 8px;
  border-right: 1px solid #909193;*/
  list-style: none;
    display: inline-block;
    padding: 0 1px 0 7px; /* KHW UPDATE */
    /*border-right: 1px solid #741c34;*/
    line-height: 1.1; /* KHW UPDATE */
     border-right: 2px solid #64a944;
    padding-right: 10px;

}

/* KHW UPDATE - REMOVE */
/*.top-link li:nth-child(3),
.top-link li:last-child {
  font-family: 'sans500';

}*/

.top-link li:last-child {
  border-right: 0px solid #909193;
}

.top-link li a {
 /* color: #0072CE;*/
 color:#64a944 !important;

}

.top-link li:nth-child(3) a,
.top-link li:last-child a {

  /*color: #00B5EC;*/
  /*color: #741c34;*/
}

/* Notification */
.notification {
  text-align   : right;
  font-family  : 'Roboto', sans-serif;
 /* color        : #0072CE;*/
  color: #7b8383;
  font-size    : 20px; /* KHW UPDATE */
  margin-top   : 30px;
  margin-bottom: 0; /* KHW UPDATE */
  font-weight  : 400;
}

.notification li {
  list-style  : none;
  display     : inline-block;
  padding     : 0 0 0 20px; /* KHW UPDATE */
  border-right: 0px solid #909193;

}

.notification li:last-child {
  padding-right: 25px;
}

.notification li img {
  vertical-align: bottom;
  width         : 30px;
}
.education-grey{
  text-align: center;
        color: #575353;
    font-weight: 700;
    line-height: 1.3; /* KHW UPDATE */
    max-width: 640px; /* KHW UPDATE */
    margin: 0 auto; /* KHW UPDATE */
    /*padding: 0 15px;*/
    /* KHW UPDATE */
}
bg-grey{

}

.headings {
  justify-content: space-between;
  /*color          : #0072CE;*/
  color: #0a355e;
   padding: 20px;
}

.headings h3 {
  font-size  : 38px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.headings small {
  font-size  : 21.50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  float      : right;
  text-align : right;
}

.sub-title {
  background   : #00B5EC;
  color        : #ffffff;
  margin-top   : 10px;
  margin-bottom: 30px;
  width        : calc(100% - 50px);
}

.sub-title h3 {
  font-size  : 30px;
  font-family: 'slab700';
  margin     : 0;
  padding    : 10px 0;
}


/* Accordian */

/* Accordion
================================================== */
.acc {

  max-width: 100%;
  padding-left: 5px; /* KHW UPDATE */
  padding-right: 10px; /* KHW UPDATE */
}

.acc__card {
  position     : relative;
  margin-bottom: 20px;
}

/* KHW UPDATE */
.acc__card:last-child {
  margin-bottom: 30px;
}

.acc__title {

  background : #fff;
  /*font-family: 'sans300';*/
 /* color      : #2171B4;*/
  cursor     : pointer;
  display    : block;
  padding    : 0;
  position   : relative;
  text-align : left;
  font-size  : 25px;
  font-family: 'Roboto', sans-serif;

  color: #085cbc;

}

.acc__title .preview img,
.acc__title .drop-down img {
  width: 100%
}

.acc__title .preview {
  position          : absolute;
  right             : 65px;
  top               : 0px;
  -webkit-transform : rotate(0deg);
  transform         : rotate(0deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition        : all 0.2s ease-in-out;
  width             : 27px;
}

.acc__title .drop-down {

  position          : absolute;
  right             : 20px;
  top               : 0px;
  -webkit-transform : rotate(0deg);
  transform         : rotate(0deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition        : all 0.2s ease-in-out;
  width             : 27px;
}

.acc__title.active .drop-down {
  -webkit-transform : rotate(-180deg);
  transform         : rotate(-180deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition        : all 0.2s ease-in-out;
}

.acc__panel {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  /*color      : #778288;*/
  display    : none;
  padding    : 0 5px 0px;
  text-align : left;
  font-weight: 400;
  font-size  : 19px;
  max-width  : 750px; /* KHW UPDATE */
  width      : 100%;
  padding-left: 0.6em;

}

/* KHW UPDATE - REMOVE */
/*.acc__panel.mr-left {
   padding-left: 1%;
}*/

.acc__panel span {
  color: #00B5EC;
}

.acc__title .form-group {
  display      : block;
  margin-bottom: 0px;
}

.acc__title .form-group input {
  padding      : 0;
  height       : initial;
  width        : initial;
  margin-bottom: 0;
  display      : none;
  cursor       : pointer;
}

.acc__title .form-group label {
  position: relative;
  cursor  : pointer;
  display:flex;
  margin-right: 110px; /* KHW UPDATE */
}

.acc__title .form-group label:before {
  content           : '';
  -webkit-appearance: none;
  background-color  : transparent;
 /* border            : 2px solid #00b5eb;*/
 border: 2px solid  #7b8383;
  padding           : 14px;
  display           : inline-block;
  position          : relative;
  top               : 2px; /* KHW UPDATE */
  cursor            : pointer;
  margin-right      : 17px; /* KHW UPDATE */
  height            : 12px;
}

.acc__title .form-group input:checked+label:after {
  content     : '';
  display     : block;
  position    : absolute;
  top         : 6px; /* KHW UPDATE */
  left        : 12px;
  width       : 9px;
  height      : 20px;
  border      : solid #005EB8;
  border-width: 0 2px 2px 0;
  transform   : rotate(45deg);
}

.points {
  position : absolute;
  top      : 23%;
  left     : 36%;
  /* transform: translate(-50%, -50%); */
  width    : max-content;
}

.points li {
  list-style  : none;
  display     : inline-block;
  font-size   : 18px;
  font-family : 'sans700';
  line-height : 1;
  white-space : nowrap;
  margin-right: 30px;


}

.points li:last-child {
  margin-right: 0px;
}

.points li span {
  font-family : 'sans300';
  font-size   : 45px;
  display     : inline-block;
  float       : left;
  margin-top  : -4px;
  margin-right: 8px;

}



.laguage-sel {
  width      : calc(100% - 0px);
  background : #2171b4;
  font-family: 'Open Sans', sans-serif;

  font-weight  : 400;
  color        : #fff;
  border-bottom: 8px solid #ACC42A;

}

.laguage-sel p {
  font-size       : 18px;
  margin-bottom   : 0;
  display         : inline-block;
  padding         : 20px 10px 20px 15px;
  text-align      : center;
  width           : 100%;
  /* width        : 70%; */
}

.laguage-sel ul {
  display     : inline-block;
  float       : right;
  margin-right: 3px;
}

.laguage-sel ul li {
  list-style : none;
  display    : inline-block;
  font-family: 'slab300', sans-serif;
  font-weight: 400;
  font-size  : 25px;

}

.laguage-sel ul li {
  color             : #919191;
  padding           : 15px 20px;
  cursor            : pointer;
  transition        : all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition   : all 0.3s ease;
  -ms-transition    : all 0.3s ease;
  -o-transition     : all 0.3s ease;
  margin            : 0 -3px
}

.laguage-sel ul li:hover {
  color: #fff;
}

.laguage-sel ul li.active {
  color     : #fff;
  background: #ACC42A;
}

.tab-content {
  display: none;

}

.tab-content.current {
  display: inherit;
}

.gr-divi {
  border-bottom: 8px solid #ACC42A;
  width        : 100%;
  margin-top   : 100px;
  margin-bottom: 20px;
}

.button {
  color           : #64a944;
  font-size       : 24px;
  font-family     : 'Roboto', sans-serif;
  font-weight     : 600;
  border          : 1px solid  #085cbc;
  width           : 200px;
  padding         : 10px;
  display         : block;
  text-align      : center;
  border-radius   : 50px;
  margin          : 30px 20px 50px; /* KHW UPDATE */
  background-color: #fff;
  cursor          : pointer;
  margin-top: 46px;

}

.button:hover {
  color :  #64a944;
  /*border: 1px solid  #741c34;*/
}

.model-btn {
  /*color    : #741c34;*/
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight     : 600;
  border          : 1px solid #fafafa;
  width           : auto;
  padding         : 10px 30px;
  display         : block;
  text-align      : center;
  border-radius   : 50px;
  margin          : 30px auto 15px;
  background-color: #fff;
}

.con {
     color: #64a944 !important;
    float: right;
    padding-top: 16px;
    /* padding-bottom: 80px; */
    font-size: 18px; /* KHW UPDATE */
}

a {
  color: #0072CE;
 /*color: #741c34;*/
}


a:hover {
 /* color: #009BCB;*/
 /*color: #741c34;*/
}
a.con1 {
    color:#64a944;
}
a.back-to-top {
  position    : relative;
  font-family: 'Roboto', sans-serif;
  font-size   : 22px; /* KHW UPDATE */
 /* color       : #0072CE !important;*/
 color: white !important;
  float       : right;
  margin-top  : 14px;
  cursor      : pointer;
  opacity     : 1;
  transition  : all 0.3s ease;
  margin-right: 20px;
  margin-bottom: 5px; /* KHW UPDATE */
  font-weight :  100;
}

a.back-to-top.show {
  opacity: 1;
}

a.back-to-top:hover {
 /* color: #009BCB !important;*/
}

.back-to-top .bt {
  vertical-align: sub;
  margin-left   : 10px;
  margin-bottom: -5px; /* KHW UPDATE */
}

/* MODEL POPUP */
.modal-box {
  position          : relative;
  display           : -ms-flexbox;
  display           : flex;
  -ms-flex-direction: column;
  flex-direction    : column;
  width             : 96%;
  pointer-events    : auto;
  background-color  : #fff;
  background-clip   : padding-box;
  border            : 1px solid rgba(0, 0, 0, .2);
  border-radius     : .3rem;
  outline           : 0;
}

.modal-box h2 {
  text-align : center;
  font-family: 'sans300';
  font-size  : 25px;
}


#myModal #email-form #email-subject {
  line-height: 1.25rem;
  overflow-y : auto;
}

div #email-subject {
    font-weight: 300;
}

#myModal .form-control {
  word-wrap         : break-word;
  display           : block;
  width             : 100%;
  padding           : .375rem .75rem;
  font-size         : 1rem;
  line-height       : 1rem;
  color             : #495057;
  background-color  : #fff;
  background-clip   : padding-box;
  border            : 1px solid #ced4da;
  border-radius     : .25rem;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition        : border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition        : border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition        : border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}


#myModal #email-form #email-body {
  overflow-y : auto;
  min-height : 150px;
  line-height: 1.25rem;
}

.copy-cbd,
.uncopy-cbd {
  display  : none;
  position : fixed;
  padding  : 20px;
  right    : 20px;
  bottom   : 20px;
  z-index  : 99;
  font-size: 14px;
}

.small-info {
  color      : #00b5ec;
  display    : block;
  font-size  : 18px;
  margin-left: 50px;
}

.samp-img {
  /* position: absolute;
  width      : 100%;
  height     : 100% ;
      z-index: 2;*/

}

.samp-img i {
  font-family      : 'Open Sans', sans-serif;
  font-weight      : 700;
  position         : fixed;
  top              : 50%;
  left             : 50%;
  font-size        : 195px;
  letter-spacing   : 25px;
  text-transform   : uppercase;
  transform        : translate(-50%, -50%) rotate(-45deg);
  -webkit-transform: translate(-50%, -50%) rotate(-18deg);
  -moz-transform   : translate(-50%, -50%) rotate(-45deg);
  -ms-transform    : translate(-50%, -50%) rotate(-45deg);
  -o-transform     : translate(-50%, -50%) rotate(-45deg);
  color            : rgba(0, 0, 0, 0.1);
  z-index          : 2;
  font-style       : normal;
}

.bg-grey {
 /* background: #f2f2f2;*/
  background: #d8d4d4;
  padding   : 20px 40px; /* KHW UPDATE */
  max-width:1140px;
}
.fil{
 padding-top: 8px;
    /*padding-left: 151px;*/
    padding-bottom: 10px;
    color: #6c1c36;
    font-weight: 700; /* KHW UPDATE */
    font-size: 27px;
    padding-left: 50px; /* KHW UPDATE */
}

/* IMPORTANT Safty */

.imp-safety {
  padding: 0px 70px;
  font-size: 20px; /* KHW UPDATE */
}

.imp-safety a {
  text-decoration: underline
}

/*.imp-safety h6 {
  font-family: 'md-cn';
  font-size  : 22px;
  color      : #0072CE;
  font-weight: normal;
}
*/
.imp-safety h6 {
  /*font-family: 'bold';*/ /* KHW UPDATE - REMOVE */
  font-size  : 22px;
  color      : #0072CE;
  /*color      : #741c34;*/
  font-weight: normal;
  padding-top: 10 !important;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 15px;
  padding-top: 40px; /* KHW UPDATE */
}

.war{
  color: #6c6c74;
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 20px;
}
.hiz{
  font-weight: 400 !important;
    /*color: #7b8383;*/
    padding-bottom: 10px;
}
.war1{
  color: #6c6c74;
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 20px;
}
.iga{
  font-weight: 400 !important;
    /*color: #7b8383;*/
    padding-bottom: 10px;
}
.mon{
  font-weight: 400 !important;
    /*color: #7b8383;*/
    padding-bottom: 10px;
}
.cdj{
  font-weight: 400 !important;
    /*color: #7b8383;*/
    padding-bottom: 10px;
}
.common{
  
  /*  color: #7b8383;*/
    padding-bottom: 10px;
}
.pass{
  font-weight: 400 !important;
    /*color: #7b8383;*/
    padding-bottom: 10px;
}
.ple{
  font-weight: 700 !important;
    /*color: #7b8383;*/
    font-size: 20px;
    padding-bottom: 50px;
}
.pre {
    /*color: #6c1c36;*/
}
.foo {
    color: #565252;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 400 !important;
}

.foo1 {
    color: #565252;
    padding-top: 10px;
    flex-wrap: wrap; /* KHW UPDATE */
    font-size: 18px; /* KHW UPDATE */
    font-weight: normal;
    padding-top: 27px;
}

.foo2 {
    /*font-weight: 700;*/
    font-size: 18px;
}
.rep {
    font-weight: 400 !important;
    color: #7b8383;
    font-size: 19px;
    padding-bottom: 55px;
}
.num {
    color: #6c1c36;
}
.num1 {
    color: #6c1c36;
}
.num1 {
    color: #6c1c36;
}
.imp-safety p {
  font-family  : 'light';
  font-size    : 19px;
  color        : #000;
  font-weight  : normal;
  position     : relative;
  padding-left : 15px;
  margin-bottom: 5px;
}

.imp-safety p:after {
  content      : ' ';
  position     : absolute;
  height       : 6px;
  width        : 6px;
  border-radius: 50%;
  background   : #000;
  top          : 12px;
  left         : 0;

}

.sponsored .sp-box {
  background   : #f2f2f2;
  margin       : 25px auto;
  padding      : 25px;
  border-radius: 15px;
  max-width    : 650px;
  width        : 90%;
  text-align   : center;
}

.sponsored .sp-box h6 {
  font-size    : 14px;
  margin-bottom: 25px;
}

.sponsored .sp-box img {
  min-width    : 160px;
  width        : 50%;
  max-width    : 230px;
  margin-bottom: 15px;

}

/* MoBile Menu */
.mob-menu-box {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  padding        : 25px;
}

.menu-icon {
  position: relative;
  cursor  : pointer;
  display : block;
  width   : 35px;
  height  : 28px;
  top     : 0;
  margin  : 0;
}

.menu-icon span {
  background: #035084;
  right     : 0;
  top       : 12px;
  position  : absolute;
  width     : 100%;
  height    : 4px;
}

.menu-icon span:before {
  content   : '';
  top       : -11px;
  background: #035084;
  right     : 0;
  position  : absolute;
  width     : 100%;
  height    : 4px;
}

.menu-icon span:after {
  content   : '';
  top       : 11px;
  background: #035084;
  right     : 0;
  position  : absolute;
  width     : 100%;
  height    : 4px;
}

.menu-icon p {
  position      : absolute;
  bottom        : -34px;
  font-size     : 12px;
  color         : #035084;
  text-transform: uppercase;
}

.mob-menu-up {
  position  : absolute;
  top       : 0;
  left      : 0;
  width     : 100%;
  height    : 100%;
  background: #d9af45;
  z-index   : 999;
  color     : #fff;
  display   : none;
}

.mob-menu {
  display: flex;
  width  : 100%;
  height : 100%;
}

.mob-close-box {
  background: #035084;
  text-align: center;
  padding   : 35px 0;
  width     : 100px;
}

.mob-close-box span {
  color      : #ffffff;
  font-size  : 28px;
  line-height: 1;
  display    : inline-block;
}

ul {
  /*list-style: none;*/
  margin    : 0;
  padding   : 0;
}

ul.navigation {
  padding : 60px 30px;
  width   : 100%;
  height  : 100%;
  overflow: auto;
}

ul.navigation li {
  margin        : 0;
  padding-bottom: 20px;
  font-size     : 18px;
}

ul.navigation li a {
  color    : #ffffff;
  font-size: 26px;
}

.mamber-logo {
  width: 200px;
}

.mamber-logo img {
  width: 100%;
}

/* MEDIA QUERY START */

@media all and (max-width:1200px) {

  .frame,
  .container {
    max-width: 980px;
  }

  .top-link,
  .notification {
    margin-top   : 20px;
    margin-bottom: 20px;
  }

  /* KHW UPDATE */
  .notification {
    margin-bottom: 0;
  }

  .copyright,
  .ques-contact {
    font-size: 14px;
  }


  .notification {
    font-size: 18px;
  }

  .button,
  .model-btn {
    font-size: 20px;
  }

  .acc__title,
  .laguage-sel ul li,
  a.back-to-top {
    font-size: 22px;
  }

  .sub-title h3 {
    font-size: 27px;
  }

  .headings h3 {
    font-size: 35px;
  }

  .points li span {
    font-size: 42px;
  }

  .notification li img {
    width: 25px;
  }

  .acc__title .form-group label:before {
    padding: 12px;
  }

  .acc__title .form-group input:checked+label:after {
    top   : 6px; /* KHW UPDATE */
    left  : 10px;
    width : 8px;
    height: 17px;
  }

  .laguage-sel p {
    padding: 15px 10px 20px 15px;
  }

  .back-to-top .bt {
    margin-left: 7px;
    width      : 21px;
  }

  .salix-logo {
    max-width: 150px;
  }
}

@media all and (max-width:1024px) {

  .frame,
  .container {
    max-width: 880px;
    width    : 100%;
  }

  /* KHW UPDATE - REMOVE */
  /*.logo {
    max-width: 300px;
  }*/

  /* KHW UPDATE */
  .top-link {
    font-size: 20px;
  }

  .top-link li {
    padding: 0 15px 0 10px; /* KHW UPDATE */
  }

  .samp-img i {
    font-size: 155px;
  }
}

@media all and (max-width:990px) {



  .mr-left {
    /*margin-left: 35px;*/
  }

  .pd-left {
    padding-left: 30px;
  }

  .sub-title {
    width: calc(100% - 35px);
  }

  .top-link {
    margin-left: 30px;
  }

  .acc__panel {
    /*padding: 0 17px 20px;*/
  }

  .points li {
    margin-right: 20px;
  }

  .laguage-sel p {
    /*  width: calc(100% - 250px); */
  }
}

@media all and (max-width:860px) {
  .laguage-sel ul li {
    padding: 28px 20px;
  }

  /* .frame .container {
    padding-left : 15px;
    padding-right: 15px;
  } */

}

@media all and (max-width:800px) {
  .logo {
    max-width: 420px; /* KHW UPDATE */
    margin: 0 auto; /* KHW UPDATE */
  }

  /* KHW UPDATE */
  .logo img, .support img {
    width: 100%;
  }

  .top-link {
    margin-left: 0;
  }

  /* .mr-left {
    margin-left: 15px;
  }

  .pd-left {
    padding-left: 25px;
  }*/

  .top-link li {
    padding      : 0 15px;
    margin-bottom: 5px; /* KHW UPDATE */
  }

  .top-link li:last-child {
    margin-bottom: 0px;
  }

  .top-link,
  .notification {
    margin-top   : 15px;
    margin-bottom: 15px;
  }

  .sub-title h3 {
    font-size: 25px;
  }

  .headings h3 {
    font-size: 30px;
  }

  /* .sub-title,
  .laguage-sel {
    width: calc(100% - 15px);
  } */

  .acc__panel {
    /*padding: 0 37px 20px;*/
  }

  .laguage-sel p {
    padding: 15px 10px 15px 15px;
  }

  .ques-contact {
    position: relative;
    bottom  : -5px;
  }

  .samp-img i {
    font-size: 130px;
  }

  /* KHW UPDATE */
  .indication {
    font-size  : 18px;
    width      : 100%;
    margin-left: 0;
    margin-top : 0; /* KHW UPDATE */
  }

  /* KHW UPDATE */
  .bgContainer {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
}

@media all and (max-width:768px) {
  .mr-left {
    margin-left: 0;
  }

  .acc.pd-left {
    padding-left: 0px;
  }

  .points {
    position         : relative;
    top              : unset;
    left             : unset;
    transform        : inherit;
    width            : fit-content;
    -webkit-transform: inherit;
    -moz-transform   : inherit;
    -ms-transform    : inherit;
    -o-transform     : inherit;
    padding-bottom   : 10px;
  }

  .button,
  .model-btn {

    min-width: 180px;
    margin   : 50px 0;
    width    : fit-content;
  }

  .model-btn {
    margin: 50px auto;
  }

  .acc__title .form-group label {
    position: relative;
    width   : calc(100% - 90px);
  }

  .sub-title,
  .laguage-sel {
    width: calc(100% - 0px);
  }

  .d-flex.justify-content-center {
    justify-content: space-around !important; /* KHW UPDATE */
  }

  .acc__panel {
    padding: 0 46px 20px;
  }

  /* KHW UPDATE - REMOVE */
  /*.frame .container {
    padding-left : 15px;
    padding-right: 15px;
  }*/

  /* KHW UPDATE */
  .imp-safety {
    padding: 0px 40px;
  }

  #caregiver,
  footer,
  .gr-divi {
    margin-left : -15px;
    margin-right: -15px;
  }

  .gr-divi {
    width: auto;
  }

  .acc__title .drop-down {
    right: 0px;
  }

  .acc__title .preview {
    right: 45px;
  }

}


@media all and (max-width:660px) {
  .acc__title .form-group label:before {
    top          : 0;
    margin-bottom: 20px;
    float        : left;
  }

  .acc__title .form-group input:checked+label:after {
    top   : 3px;
    left  : 10px;
    width : 8px;
    height: 17px;
  }

  .top-link {
    font-size: 22px;
  }

  .samp-img i {
    font-size: 100px;
  }

  .indication {
    font-size: 16px;
  }

  /* KHW UPDATE */
  .con {
    float: none;
  }
}

@media all and (max-width:600px) {
  /* KHW UPDATE - REMOVE */
  /*.mr-top2 {
    margin-top: 40px;
  }*/


  .laguage-sel p {
    width     : 100%;
    margin    : 0 auto;
    text-align: center;
    padding   : 15px 10px 15px 10px;
  }

  .laguage-sel ul {
    display         : block;
    float           : none;
    margin-right    : auto;
    margin-left     : auto;
    /*  width       : fit-content; */
  }

  .laguage-sel ul li {
    padding   : 12px 20px;
    width     : 50%;
    text-align: center;
    margin    : 6px -1.5px 0;
  }

  .button,
  .model-btn {
    font-size: 18px;
    min-width: 140px;

    width: fit-content;
  }

  .notification {
    text-align: left;
    margin-top: 0px;
  }

  .notification li:last-child {
    padding-right: 0px;
  }

}














@media all and (max-width:576px) {
  .logo {
    width: 100%; /* KHW UPDATE */
  }

  .headings h3 {
    font-size: 30px;
  }

  .headings small {
    font-size: 16px;
  }

  .sub-title h3 {
    font-size: 25px;
  }



  .points li {
    font-size   : 15px;
    margin-right: 12px;
  }

  .points li span {
    font-size   : 36px;
    margin-right: 10px;
  }

  .acc__card {
    position     : relative;
    margin-bottom: 10px;
  }

  .acc__title .form-group label:before {
    margin-bottom: 10px;
  }



  .pd-left {
    padding-left: 15px;
  }

  .top-link li {
    width       : 100%;
    border-right: 0px solid #909193;
  }


  .notification {
    margin-top   : 15px;
    margin-bottom: 0; /* KHW UPDATE */
  }

  .top-link {
    margin-bottom: 10px;
    margin-top   : 15px;
  }

  .samp-img i {
    font-size: 70px;

  }
}

@media all and (max-width:520px) {
  .support {
    font-size: 30px;
    width    : 197px;
  }

  .notification li {
    padding: 0px 0 0 15px; /* KHW UPDATE */
  }

  .notification li img {
    width: 20px;
  }

  .d-flex.justify-content-center {
    justify-content: center !important;
    flex-wrap      : wrap;
    margin-top:1.4em;
  }


  .button {
    font-size  : 22px;
    padding    : 10px 22px;
    margin     : 0px 0 30px;
    min-width  : 85%;
    line-height: 1.5;
  }

  a.button {
    margin-top: 10px;
  }

  .model-btn {
    font-size: 16px;
  }

  /* KHW UPDATE - MOVED THIS TO 800PX MEDIA QUERY */
  /*.bgContainer {
    flex-wrap: wrap;
  }*/

  /* KHW UPDATE - MOVED THIS TO 800PX MEDIA QUERY */
  /*.indication {
    font-size  : 18px;
    width      : 100%;
    margin-left: 0;
    margin-top : 20px;
  }*/
}

@media all and (max-width:480px) {}

@media all and (max-width:450px) {
  .support {
    font-size   : 26px;
    width       : 174px;
    padding-left: 15px;
    margin-right: -15px;
  }

  /* KHW UPDATE */
  .fil {
    padding-left: 36px;
  }

  /* KHW UPDATE - REMOVE */
  /*.logo {

    margin-left: -15px;
  }*/

  .notification li {
    padding: 0px 0 12px 15px; /* KHW UPDATE */
  }

  .points {
    margin-bottom: 0px;
  }




  .acc__title,
  .laguage-sel ul li,
  a.back-to-top {
    font-size: 20px;
  }

  .top-link,
  .small-info,
  .acc__panel {
    font-size: 16px;
  }

  .laguage-sel ul li {
    font-size: 22px;
  }

  .top-link {
    font-size: 20px;
  }

  .notification li img {
    vertical-align: sub;

  }

  .notification {
    font-size: 16px;
  }

  .acc__title .form-group label:before {
    margin-right: 10px;
  }

  .acc__panel {
    padding: 0 40px 20px;
  }

  .small-info {
    margin-left: 40px;
  }

  .points li span {
    font-size   : 34px;
    margin-right: 5px;
  }

  .points li {
    font-size   : 14px;
    margin-right: 7px;
  }

  .acc__title .form-group label:before {
    padding: 11px;
  }

  .samp-img i {
    letter-spacing: 13px;
  }
}

@media all and (max-width:400px) {
  .support {
    font-size: 25px;
    width    : 164px;
  }

  .top-link li {

    border: 0;
  }

  .acc__title .form-group {
    width: calc(100% - 69px);
  }

  .acc__title .form-group label {
    position: relative;
    width   : calc(100% - 0px);
  }

  .acc__title .preview,
  .acc__title .drop-down {
    width: 22px;
  }

  .acc__title .preview {
    right: 40px;
  }

  .headings h3 {
    font-size: 28px;
  }

  .sub-title h3 {
    font-size: 22px;
  }

  .top-link {
    font-size: 18px;
  }

  .acc__title,
  .laguage-sel ul li,
  a.back-to-top {
    font-size: 18px;
  }



  .points li:last-child {
    margin-bottom: 0px;
  }

  .notification li img {
    width: 17px;
  }

  .notification {
    font-size: 14px;
  }

  .points li {
    font-size   : 13px;
    margin-right: 5px;
  }

  .points li span {
    font-size   : 28px;
    margin-right: 5px;
    margin-top  : 0px;
  }

  /* KHW UPDATE */
  .imp-safety,
  .war,
  .war1,
  .ple,
  .rep {
    font-size: 18px;
  }
}

@media all and (max-width:360px) {


  .top-link {
    margin-bottom: 15px;
    /*font-size    : 16px;*/ /* KHW UPDATE - REMOVE */
  }


  .top-link li {
    padding: 0 15px; /* KHW UPDATE */
  }

  .side-space {
    /*   margin  : 5px; */
    position: relative;
  }

  .headings small {
    font-size: 14px;
  }

  .acc__title {
    font-size: 16px;
  }

  .acc__title .form-group label:before {
    padding     : 8px;
    margin-right: 8px;
  }

  .acc__title .form-group input:checked+label:after {
    width : 6px;
    height: 12px;
    left  : 1px;
  }



  .acc__title .form-group label:before {
    left: -6px;
  }

  .acc__title .preview,
  .acc__title .drop-down {
    width: 20px;
  }

  .support {
    font-size: 23px;
    width    : 152px;
  }

  .acc__panel {
    padding: 0 30px 20px;
  }

  .small-info {
    margin-left: 30px;
  }

  .notification li img {
    width: 16px;
  }


  .samp-img i {
    font-size: 60px;
  }


}

@media all and (max-width:320px) {
  .support {
    width    : 141px;
    font-size: 16px;
  }

  .points li {
    margin-bottom: 20px;
  }

  .notification {
    font-size: 12px;
  }

}

/* KHW UPDATE - REMOVE */
/*@media all and (max-width:1000px) {
  .logo img, .support img
  {
      width: 100%;
}*/

/*@media all and (max-width:1024px) {
  .logo img, .support img
  {
    width: 80%;
  }
}*/
@media only screen and (min-device-width : 577px) and (max-device-width : 856px)
{
 .logo img, .support img
  {
      width: 100%;
}
}
  .dfdf
{
    text-decoration: none;
}

a.dfdf {
    margin-right: 4px;
}
/*@media (max-width: 1349px)*/
/*{*/
/*    .adn*/
/*    {*/
/*     display: grid;*/
/*}*/
/*}*/
@media all and (max-width:360px) /* KHW UPDATE */
{
    .fil{
        padding-left:28px; /* KHW UPDATE */
    }
}

.mr-left.gfdf {
    padding-left: 38px;
}
.mr-left.fsdfs {
    padding-left: 38px;
}
p#ebresmul {
    font-weight: 400;
}
div#email-subject {
    font-weight: 400;
}


.bgC {
    background:#0072CE;
    height: 135px;
    max-width:1140px;
}


.boxfooter {
    max-width: 710px;
}

.aln {
    font-size: 16px;
    font-weight: 500;
    color: #7b8383;
}

.logo123 {
    padding-bottom: 20px;
}
.al
{
    padding-top: 2em;
    color: #7b8383;
    font-weight:500;
    font-size:16px;
}
.foo1
{
     color: #7b8383;
    font-weight:500;
    font-size:16px;
}
li.pg
{
    color: #64a944 ;
}
.fo_clr
{
    color:#7b8383;
}
.spcl {
    padding-top: 1.5em;
    font-size:14px;
}
a#email_res:hover {
    color: #005EB8;
}
button.button.viewPrint:hover {
    color: #005EB8;
}
button#copy-tool:hover {
    color:#005EB8;
}
b.hea-title
{
    font-weight:900;
}
.cdj.see {
    margin-bottom: 65px;
}